<p id='who-is-coming'>Who's coming</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Item Bringing</th>
        </tr>
    </thead>
    <tbody>
        {{#each attendee}}
        <tr>
            <td>{{dataValues.firstName}}</td>
            <td>{{dataValues.lastName}}</td>
            <td>{{dataValues.item}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>