#landing {
    min-height: 100vh;
    padding-top: 80px;
    position:relative;
}

#matrix {
    position:absolute;
    opacity:0.1;
    min-width:100vw;
}

#carousel {
    position: fixed;
    min-width: 100vw;
    max-height: 100vh;
    opacity: 0.4;
    z-index: -10;
}

.event-header {
    margin-top:200px;
    font-size: 4em;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: -4px 4px #17a2b8;
    color:white ;
}

.event-details {
    font-size: 2em;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    color: #17a2b8;
}

#address-link {
    text-align: center;
    color: black;
}

#address-link:hover {
    color: grey
}


#information-background {
    background-color: rgba(250,250,250,0.5);
    padding-bottom: 1em;
}

#nav {
    position:fixed;
    min-width: 100vw;
    opacity: 0.7;
    z-index:10;
}

#sign-up-field {
    padding: 100px;
    max-width: 50vw;
    margin: 200px auto;
    text-align:center;
    /* padding: 100px 100px 400px 100px; */
}

#who-is-coming, .table {
    text-align: center;
}

#who-tag {
    min-height: 55px;
}
#who-is-coming {
    color:white;
    font-size: 3em;
    font-family: 'Tajawal', sans-serif;
    text-shadow: -4px 4px #17a2b8;
    background-color: rgba(250,250,250,0.9);
    margin-bottom: 0px;
}

.table {
    background-color: rgba(250,250,250,0.9);
    background-image: url('../images/networking.png');
    background-blend-mode: overlay;
}

#attendee-table {
    margin-bottom: 500px;
}

.nav-item {
    padding-left: 50px;
    font-weight: bold;
}

.nav-item:hover {
    text-decoration: underline;
}

#footer {
    min-width:100vw;
    text-align: center;
    padding:20px;
    margin-bottom:-50px;
    color:white;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.2em;
    position:fixed;
    left: 0px;
    bottom: 45px;
}

/* SNACKBAR */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: turquoise; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @media (max-width:800px) {
    #carousel {
        display:none !important;
    }

    #matrix {
        display: none !important;
    }

    body {
        background: url("../images/Sz-FrontHouse.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #information-background {
        background-color: rgba(250,250,250,0.8);
    }

    #sign-up-field {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #sign-up-field h1 {
        background-color:  rgba(250,250,250,0.8);
    }
}
